*.class
*.log
target
node_modules
bin
# Eclipse project files
.classpath
.project
.settings
.externalToolBuilders
.springBeans
# mac
.DS_Store
# IntelliJ project files
.idea
*.iml
# Package files
*.jar
*.war
*.ear
.svn
.npm
.sass-cache
*.css.map
*.3mf
